force-app/main/default/flows/TD_Auto_Create_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Lead_To_Opportunity</name>
        <label>Convert Lead to Opportunity</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <actionName>TD_Convert_Lead</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Convert_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Fault</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityName</name>
            <value>
                <elementReference>formulaOppName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>modelName</name>
            <value>
                <elementReference>$Record.Model_Interested__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityOwnerId</name>
            <value>
                <elementReference>$Record.Sales_Rep__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TD_Convert_Lead</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Log_Fault</name>
        <label>Log Fault (no-op)</label>
        <locationX>440</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>varFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Convert_Success</name>
        <label>Convert Succeeded?</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>No (skip)</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Convert_Lead_To_Opportunity.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Convert_Lead_To_Opportunity.opportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Amount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Record-triggered on Test_Drive__c update when Outcome changes to Very Interested or Interested. Calls TD_Convert_Lead to convert the source Lead into Contact + Account + Opportunity, then stamps the new Opportunity Id back onto the Test_Drive__c.</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaOppName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Customer_Name__c}), &quot;Test Drive Opportunity&quot;, {!$Record.Customer_Name__c}) &amp; &quot; - &quot; &amp; IF(ISBLANK({!$Record.Model_Interested__c}), &quot;Electra EV&quot;, {!$Record.Model_Interested__c})</expression>
    </formulas>
    <formulas>
        <name>formulaOppAmount</name>
        <dataType>Number</dataType>
        <scale>2</scale>
        <expression>CASE(LOWER(IF(ISBLANK({!$Record.Model_Interested__c}), &quot;&quot;, {!$Record.Model_Interested__c})),
  &quot;electra gt&quot;, 85000,
  &quot;electra suv&quot;, 72000,
  &quot;electra sedan&quot;, 58000,
  &quot;electra crossover&quot;, 48000,
  65000)</expression>
    </formulas>
    <interviewLabel>TD Auto Create Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TD Auto Create Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Opportunity_Amount</name>
        <label>Set Opportunity Amount</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Link_Opportunity_To_Drive</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Convert_Lead_To_Opportunity.opportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>formulaOppAmount</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Link_Opportunity_To_Drive</name>
        <label>Link Opportunity To Drive</label>
        <locationX>176</locationX>
        <locationY>648</locationY>
        <faultConnector>
            <targetReference>Log_Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Convert_Lead_To_Opportunity.opportunityId</elementReference>
            </value>
        </inputAssignments>
        <object>Test_Drive__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Convert_Lead_To_Opportunity</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND(
  OR(ISPICKVAL({!$Record.Outcome__c}, &apos;Very Interested&apos;), ISPICKVAL({!$Record.Outcome__c}, &apos;Interested&apos;)),
  NOT(ISBLANK({!$Record.Lead__c})),
  ISBLANK({!$Record.Opportunity__c})
)</filterFormula>
        <object>Test_Drive__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
