force-app/main/default/flows/TD_Create_Dealer_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Dealer_Intel</name>
        <label>Generate Dealer Intelligence Summary</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <actionName>TD_DealerIntelligenceGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Vehicle_Name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Vehicle_Name</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingIds</name>
            <value>
                <elementReference>inputBookingId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TD_DealerIntelligenceGenerator</nameSegment>
        <outputParameters>
            <assignToReference>varIntelligenceSummary</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Build_Task_Subject</name>
        <label>Build Task Subject</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>varTaskSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prepare for Test Drive: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varBooking.Customer_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varVehicle.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varBooking.Test_Drive_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Dealer_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fault_Clear_Output</name>
        <label>Fault Handler</label>
        <locationX>440</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>outputTaskId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Output_Task_Id</name>
        <label>Set Output Task Id</label>
        <locationX>176</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>outputTaskId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Dealer_Task</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Booking_Found</name>
        <label>Booking Found?</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Fault_Clear_Output</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Booking_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBooking.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Dealership</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>Creates a dealer preparation Task after a Test Drive booking. Calls TD_DealerIntelligenceGenerator Apex to build the task description with model-specific talking points.</description>
    <formulas>
        <name>varDayBefore</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!varBooking.Test_Drive_Date_Time__c}) - 1</expression>
    </formulas>
    <label>TD Create Dealer Task</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Dealer_Task</name>
        <label>Create Dealer Prep Task</label>
        <locationX>176</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>Set_Output_Task_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Clear_Output</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDayBefore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varIntelligenceSummary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varDealership.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>inputBookingId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Booking</name>
        <label>Get Booking Record</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Booking_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Clear_Output</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputBookingId</elementReference>
            </value>
        </filters>
        <object>Test_Drive__c</object>
        <outputReference>varBooking</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Customer_Name__c</queriedFields>
        <queriedFields>Test_Drive_Date_Time__c</queriedFields>
        <queriedFields>Drive_Type__c</queriedFields>
        <queriedFields>Model_Interested__c</queriedFields>
        <queriedFields>Assigned_Dealership__c</queriedFields>
        <queriedFields>Vehicle_Model__c</queriedFields>
        <queriedFields>Lead__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Dealership</name>
        <label>Get Dealership Owner</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dealer_Intel</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Clear_Output</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBooking.Assigned_Dealership__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varDealership</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle_Name</name>
        <label>Get Vehicle Name</label>
        <locationX>176</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Task_Subject</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Build_Task_Subject</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBooking.Vehicle_Model__c</elementReference>
            </value>
        </filters>
        <object>VehicleDefinition</object>
        <outputReference>varVehicle</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Booking</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputBookingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Test_Drive__c</objectType>
    </variables>
    <variables>
        <name>varDealership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varIntelligenceSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VehicleDefinition</objectType>
    </variables>
</Flow>
