force-app/main/default/flows/TD_No_Show_Recovery.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Recovery_Email</name>
        <label>Send Recovery Email</label>
        <locationX>176</locationX>
        <locationY>888</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Build_Task_Subject</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varEmailBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Build_Recovery_Email</name>
        <label>Build Recovery Email Content</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>varEmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>We missed you today! Let&apos;s reschedule your </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varVehicle.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> test drive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hi </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Customer_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,

No worries — life happens! We noticed you couldn&apos;t make it to your </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varVehicle.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> test drive today.

Want to reschedule? We&apos;d love to find a time that works for you.

Or try our Experience Drive — we&apos;ll bring the </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varVehicle.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> right to your doorstep — no commute, no hassle!

Reply to this email or chat with us anytime to reschedule or learn more.

We look forward to seeing you behind the wheel!

The Electra Cars Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Recovery_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_Subject</name>
        <label>Build Re-Engagement Task Subject</label>
        <locationX>176</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>varTaskSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Re-engage no-show: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Customer_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varVehicle.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Reengagement_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Slot_Found</name>
        <label>Slot Found?</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Get_Dealership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Slot Not Found</defaultConnectorLabel>
        <rules>
            <name>Slot_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSlot.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Release_Slot</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>Record-Triggered Flow that fires when a Test Drive Status changes to No-Show. Releases the booked slot, sends a recovery email to the customer, and creates a re-engagement Task for the dealer.</description>
    <formulas>
        <name>varReengageDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 2</expression>
    </formulas>
    <label>TD No Show Recovery</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Reengagement_Task</name>
        <label>Create Re-Engagement Task</label>
        <locationX>176</locationX>
        <locationY>1128</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varReengageDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Customer did not show up for scheduled test drive. Contact to reschedule. Consider offering Experience Drive (vehicle delivered to customer).</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varDealership.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Dealership</name>
        <label>Get Dealership Account</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Assigned_Dealership__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varDealership</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Slot</name>
        <label>Get Booked Slot</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Slot_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Available_Slot__c</object>
        <outputReference>varSlot</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_Booked__c</queriedFields>
        <queriedFields>Booking_Reference__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle</name>
        <label>Get Vehicle Name</label>
        <locationX>176</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Recovery_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vehicle_Model__c</elementReference>
            </value>
        </filters>
        <object>VehicleDefinition</object>
        <outputReference>varVehicle</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Release_Slot</name>
        <label>Release Booked Slot</label>
        <locationX>440</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Get_Dealership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSlot.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Booked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Available_Slot__c</object>
    </recordUpdates>
    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Slot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No-Show</stringValue>
            </value>
        </filters>
        <object>Test_Drive__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varDealership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varEmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSlot</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Available_Slot__c</objectType>
    </variables>
    <variables>
        <name>varTaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VehicleDefinition</objectType>
    </variables>
</Flow>
