force-app/main/default/flows/TD_Post_Drive_Followup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Followup_Email</name>
        <label>Send Follow-Up Email</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Build_Task_Subject</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varEmailBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Build_Email_Content</name>
        <label>Build Follow-Up Email Content</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>varEmailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>How was your </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varVehicle.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> experience, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Customer_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hi </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Customer_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,

We hope you had a wonderful time with the </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varVehicle.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> test drive today!

We&apos;d love to hear your thoughts:
- How did the drive feel?
- What features impressed you most?
- Any questions about financing or next steps?

Our team is ready to help you make the Electra yours. Reply to this email or chat with us anytime.

You can also explore our flexible financing options starting from as low as 0.9% APR.

Looking forward to hearing from you!

The Electra Cars Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Followup_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Task_Subject</name>
        <label>Build Task Subject</label>
        <locationX>176</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>varTaskSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow up with </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Customer_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> after </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varVehicle.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskSubject</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> test drive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Followup_Task</targetReference>
        </connector>
    </assignments>
    <description>Record-Triggered Flow that fires when a Test Drive Status changes to Completed. Sends a follow-up email to the customer and creates a dealer follow-up Task.</description>
    <formulas>
        <name>varFollowupDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <label>TD Post Drive Followup</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Followup_Task</name>
        <label>Create Dealer Follow-Up Task</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varFollowupDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varDealership.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Dealership</name>
        <label>Get Dealership Account</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Assigned_Dealership__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varDealership</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle</name>
        <label>Get Vehicle Name</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Email_Content</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vehicle_Model__c</elementReference>
            </value>
        </filters>
        <object>VehicleDefinition</object>
        <outputReference>varVehicle</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Dealership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Test_Drive__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varDealership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varEmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VehicleDefinition</objectType>
    </variables>
</Flow>
