force-app/main/default/flows/TD_Proactive_Nudge_Evaluator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Score_Visitor_Intent</name>
        <label>Score Visitor Intent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TD_IntentScorer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Should_Fire_Nudge</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>visitorId</name>
            <value>
                <elementReference>$Record.Visitor_Id__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TD_IntentScorer</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Should_Fire_Nudge</name>
        <label>Should Fire Nudge</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Fire_Nudge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Score_Visitor_Intent.shouldNudge</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_Platform_Event</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Server-side proactive nudge evaluator. On every Web_Engagement_Event__c create, calls TD_IntentScorer to compute the visitor&apos;s intent score and, if threshold crossed, publishes the Visitor_Intent_Threshold_Crossed__e platform event. The electraIntentTracker LWC subscribes to that event and opens the chat widget with model-aware greeting context.</description>
    <environments>Default</environments>
    <interviewLabel>TD Proactive Nudge Evaluator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TD Proactive Nudge Evaluator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Platform_Event</name>
        <label>Publish Platform Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Intent_Score__c</field>
            <value>
                <elementReference>Score_Visitor_Intent.intentScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Model__c</field>
            <value>
                <elementReference>Score_Visitor_Intent.preferredModel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_Reason__c</field>
            <value>
                <elementReference>Score_Visitor_Intent.triggerReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visitor_Id__c</field>
            <value>
                <elementReference>$Record.Visitor_Id__c</elementReference>
            </value>
        </inputAssignments>
        <object>Visitor_Intent_Threshold_Crossed__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Score_Visitor_Intent</targetReference>
        </connector>
        <object>Web_Engagement_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
