force-app/main/default/flows/TD_Personalize_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Personalize_From_Visitor_Intent</name>
        <label>Personalize From Visitor Intent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TD_PersonalizeLead</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_Personalized</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visitorId</name>
            <value>
                <elementReference>$Record.Visitor_Id__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TD_PersonalizeLead</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Was_Personalized</name>
        <label>Was Personalized</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No data</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Intent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Personalize_From_Visitor_Intent.wasPersonalized</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_With_Intent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Phase B — Personalized Lead Touchpoint. After a Lead is created from the Agentforce booking flow, this Flow calls TD_PersonalizeLead to score the visitor&apos;s pre-booking intent and writes Visitor_Id, Intent_Score, Intent_Tier, Preferred_Model back to the Lead. Downstream confirmation/reminder/dealer-task flows can branch on Intent_Tier.</description>
    <environments>Default</environments>
    <interviewLabel>TD Personalize Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TD Personalize Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead_With_Intent</name>
        <label>Update Lead With Intent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Intent_Score__c</field>
            <value>
                <elementReference>Personalize_From_Visitor_Intent.intentScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intent_Tier__c</field>
            <value>
                <elementReference>Personalize_From_Visitor_Intent.intentTier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Model__c</field>
            <value>
                <elementReference>Personalize_From_Visitor_Intent.preferredModel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visitor_Id__c</field>
            <value>
                <elementReference>Personalize_From_Visitor_Intent.resolvedVisitorId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Personalize_From_Visitor_Intent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agentforce - Test Drive</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
