force-app/main/default/flows/TD_Send_Confirmation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Confirmation_Email</name>
        <label>Send Confirmation Email</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Mark_Confirmation_Sent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Handler</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varBooking.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Electra Test Drive is Confirmed!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varEmailBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Build_Email_Body</name>
        <label>Build Email Body</label>
        <locationX>176</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hi </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varBooking.Customer_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,

Your test drive booking is confirmed! Here are your details:

Vehicle: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varVehicle.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Date and Time: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varBooking.Test_Drive_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Dealership: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDealership.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Address: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDealership.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDealership.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Drive Type: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varBooking.Drive_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Booking Reference: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varBooking.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEmailBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>

What to bring:
- Valid driver license
- Arrive 10 minutes early

See you soon!
The Electra Cars Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Confirmation_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Booking_Found</name>
        <label>Booking Found?</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Fault_Handler</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Booking_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varBooking.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vehicle</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>Sends a booking confirmation email to the customer and marks Confirmation_Sent__c = true on the Test_Drive__c record.</description>
    <label>TD Send Confirmation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Booking</name>
        <label>Get Booking Record</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Booking_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Handler</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputBookingId</elementReference>
            </value>
        </filters>
        <object>Test_Drive__c</object>
        <outputReference>varBooking</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Customer_Name__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Test_Drive_Date_Time__c</queriedFields>
        <queriedFields>Drive_Type__c</queriedFields>
        <queriedFields>Booking_Channel__c</queriedFields>
        <queriedFields>Confirmation_Sent__c</queriedFields>
        <queriedFields>Vehicle_Model__c</queriedFields>
        <queriedFields>Assigned_Dealership__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Dealership</name>
        <label>Get Dealership Details</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Build_Email_Body</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Handler</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBooking.Assigned_Dealership__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varDealership</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle</name>
        <label>Get Vehicle Name</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dealership</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Handler</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBooking.Vehicle_Model__c</elementReference>
            </value>
        </filters>
        <object>VehicleDefinition</object>
        <outputReference>varVehicle</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Fault_Handler</name>
        <label>Fault Handler</label>
        <locationX>440</locationX>
        <locationY>528</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputBookingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <stringValue>Confirmation email failed to send. Please resend manually.</stringValue>
            </value>
        </inputAssignments>
        <object>Test_Drive__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Mark_Confirmation_Sent</name>
        <label>Mark Confirmation Sent</label>
        <locationX>176</locationX>
        <locationY>888</locationY>
        <faultConnector>
            <targetReference>Fault_Handler</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputBookingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Confirmation_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Test_Drive__c</object>
    </recordUpdates>
    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Booking</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputBookingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Test_Drive__c</objectType>
    </variables>
    <variables>
        <name>varDealership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varEmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VehicleDefinition</objectType>
    </variables>
</Flow>
